# Pandas DataFrame Oluşturma

In [1]:
import pandas as pd

In [2]:
l = [1,5,54,99,87]

In [3]:
l

[1, 5, 54, 99, 87]

In [4]:
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              5
2             54
3             99
4             87

In [6]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

## DataFrame İsimlendirme

In [10]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head() # calistigini görmek icin yazdik

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [11]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [12]:
df.columns = ("deg1","deg2","deg3")

In [13]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

## Özellikler

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [16]:
df.size

9

In [18]:
df.shape

(3, 3)

In [19]:
df.ndim

2

In [20]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
type(df.values)

numpy.ndarray

In [22]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [23]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [24]:
a = np.array([1,2,3,4,5])

In [25]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5