# Gözlem ve Değişkebn Seçimi -- loc & iloc

In [2]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    23    27    29
1     7    23    15
2     3     2    21
3     5    22    22
4    26     8     5
5    14    24    14
6    23     6     9
7    23    20    15
8    27    13    26
9     2     7     9

## loc = Tanımlandığı şekli ile seçim yapmak için kullanılır

In [4]:
df.loc[0:3]

   var1  var2  var3
0    23    27    29
1     7    23    15
2     3     2    21
3     5    22    22

## iloc = alışık olduğumuz indexleme mantığıyla seçim yapar

In [7]:
df.iloc[0:3]

   var1  var2  var3
0    23    27    29
1     7    23    15
2     3     2    21

In [8]:
df.iloc[0,0]

23

In [9]:
df.iloc[:3,:2]

   var1  var2
0    23    27
1     7    23
2     3     2

In [10]:
df.loc[0:3,"var3"]

0    29
1    15
2    21
3    22
Name: var3, dtype: int32

In [11]:
# df.iloc[0:3,"var3"] # iloc var3 e boyle degil asagidaki gibi ulasir

In [12]:
df

   var1  var2  var3
0    23    27    29
1     7    23    15
2     3     2    21
3     5    22    22
4    26     8     5
5    14    24    14
6    23     6     9
7    23    20    15
8    27    13    26
9     2     7     9

In [13]:
df.iloc[0:3]["var3"]

0    29
1    15
2    21
Name: var3, dtype: int32